# dependencies
node_modules/
.pnp/
.pnp.js

# Yarn
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/patches/
.yarn/releases/
.yarn/plugins/
.yarn/sdks/
.yarn/versions/
.yarnrc.yml

# Optional: ignore Yarn v1 lockfile if using Yarn v2+
yarn.lock

# build
dist/
build/

# testing
coverage/
*.lcov

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*
!.env.example

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# MacOS
.DS_Store

# others
*.local
*.log
*.swp
debug.txt